* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --primary-color: #00158f;
    --secondary-color:#f58f29;
    --accent1-color:#c1c9f8;
    --accent2-color:#7d4600;
    --background-color:rgb(255, 250, 243)
}


a {
    text-decoration: none;
}

header {
    font-family: "Raleway", serif;
    font-weight: 400;
    background-color: var(--secondary-color);
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 100px 1fr 2fr;
    align-items:center;
    justify-content: space-between;
}

header nav {

    
    color:var(--accent2-color);
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;   
}

header img {
    display:grid;
    grid-column-start: 2;
}

body{
    font-family: "Raleway", serif;
    font-weight: 400;
    color:var(--accent2-color);
    background-color: rgb(255, 255, 255);
    text-align: center;
}


figcaption {
    text-align: center;
}

.figure-flex {

    display: flex;
    justify-content: space-around;
    padding-top: 75px;
    padding-bottom: 50px;
    
}

.figure-flex figure img {
    width: 150px;
    border: 3px solid #00158f;
    border-radius: 5px;
}

form{
    width: 650px;
    margin: auto;
    padding: 20px;
    background-color:#eee
    
}

.form-item{
    padding: 10px;
}


label {
    padding: 10px;
}

input [type="radio"]{
    margin: 1rem;
}

button {
    padding: 5px;
    color: #00158f;
}

button.hover {
    background-color: #c1c9f8;
}

.foot{
    display:flex;
    justify-content: center;
}

footer nav {
    display: flex;
    justify-content: end;
}

.social-links figure img{
    padding-left: 4px;
}