* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




:root {
    --heading-background-color: rgb(32,51,15);
    --nav-text-color: rgb(254,251,241);
    --aside-background-color: #d3cfc475;
}




nav {
    background-color:var(--heading-background-color);
    padding: 10px;
}

nav a {
color:var(--nav-text-color);
display: block;
padding: 20px;
}

h1 {color: var(--heading-background-color)}

main img {
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid var(--heading-background-color);
    padding: 2px;
    box-shadow: 0 0 30px;
    
}

p { padding: 0;}

main {
    max-width: 840px;
    text-align: left;
    margin: 1rem;
    padding-right: 25px;
    background-color: var(--nav-text-color);
}



aside {
    position: relative;
    width: 30rem;
    margin: auto;
    border: 1px solid var(--heading-background-color);
    padding: 1em;
    text-align: center;
}

h2  {
    position: absolute;
    top: 15px;
    left: 200px;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: 1px solid var(--heading-background-color);
    text-align: center;
    background-color: var(--aside-background-color);
    padding-bottom: 1rem;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / .1);
    padding: 1rem;
    background-color: var(--aside-background-color);
    color: var(--heading-background-color);

}