nav {
    background-color:rgb(32, 51, 15);
    padding: 10px;
}

nav a {
color:rgb(254, 251, 241);
display: block;
padding: 20px;
}

h1 {color: rgb(32, 51, 15);}

main img {
    width: 150px;
    height: auto;
    border: 1px solid rgb(32, 51, 15);
    padding: 2px;
    box-shadow: 0 0 30px;
    
}

p { padding: 0;}

main {
    max-width: 840px;
    text-align: center;
    margin: auto;
    background-color: rgb(254,251,241);
}

aside {
    width: 30rem;
    margin: auto;
    border: 1px solid rgb(32, 51, 15);
    padding: 1em;
    background-color: #d3cfc475;
    color: rgb(32, 51, 15);
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: 1px solid rgb(32, 51, 15);
    text-align: center;
    background-color: #d3cfc475;
    padding-bottom: 1rem;
}